<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NodeJS Example</title>
    <meta charset="utf-8">
    <meta name="description"  content="This is the index">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </head>

  <body>
    <div class="dropzone">Drop file here</div>

    <div class="totals">
      <table>
        <thead></thead>
        <tbody>
          <tr>
            <td>Total</td>
            <td class="total"></td>
          </tr>
          <tr>
            <td>Transferred</td>
            <td class="transferred"></td>
          </tr>
          <tr>
            <td>Remaining</td>
            <td class="remaining"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table">
      <table border="1">
        <thead></thead>
        <tbody>
          <tr>
            <td style="cursor: pointer;" onclick="ShowTotal()">Total</td>
            <td style="cursor: pointer;" onclick="ShowTransferred()">Transferred</td>
            <td style="cursor: pointer;" onclick="ShowRemaining()">Remaining</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Token</th>
            <th>Total</th>
            <th>Transfered</th>
            <th>Remaining</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody class="reeee">
        </tbody>
      </table>
    </div>
  </body>
</html>
