<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COSS Stats</title>
    <meta charset="utf-8">
    <meta name="description"  content="COSS Statistics">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="/js/index.js"></script>
    <script>var cossValue    =<%-JSON.stringify(cossValue    )%></script>
    <script>var nextEthBlock =<%-JSON.stringify(nextEthBlock )%></script>
    <script>var weeklyRewards=<%-JSON.stringify(weeklyRewards)%></script>
    <script>var volumeHistory=<%-JSON.stringify(volumeHistory)%></script>
  </head>

  <body>
    <div class="container">
      <div>
        <div class="nav-menu">
          <div class="page-button" key="page" page="volume-tracker">Volume Tracker</div>
          <div class="page-button" key="page" page="calculators">Calculators</div>
          <div class="page-button" key="page" page="fsa-worth">FSA Worth</div>
          <div class="page-button" key="page" page="faq">FAQ</div>
          <div class="page-button" key="page" page="feedback">Feedback</div>
        </div>
      </div>
    </div>

    <div class="page" page="volume-tracker" style="display: none;">
      <div class="container">
        <div class="volume-history">
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Hour</th>
                <th>Volume</th>
              </tr>
            </thead>
            <tbody class="vh"></tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div>
          <table class="next-eth-block">
            <thead></thead>
            <tbody>
              <tr class="header">
                <td class="message" colspan="7">Time until the next snapshot<span class="footnote" title="The table below isn't automatically updated; currently it's something I manually do but I plan on automating it in the future. FSAs are normally distributed within the next 24 hours of the snapshot.">?</span></td>
              </tr>
              <tr class="data">
                <td class="days"><div></div></td>
                <td class="colon"><div></div></td>
                <td class="hours"><div></div></td>
                <td class="colon"><div></div></td>
                <td class="minutes"><div></div></td>
                <td class="colon"><div></div></td>
                <td class="seconds"><div></div></td>
              </tr>
              <tr class="labels">
                <td class="days">DAYS</td>
                <td class="spacer"></td>
                <td class="hours">HOURS</td>
                <td class="spacer"></td>
                <td class="minutes">MINUTES</td>
                <td class="spacer"></td>
                <td class="seconds">SECONDS</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="weekly-rewards">
          <table>
            <thead>
              <tr>
                <th>ETH Block</th>
                <th>Date</th>
                <th>Volume</th>
                <th>USD per COSS</th>
                <th>Avg Fee %</th>
              </tr>
            </thead>
            <tbody class="wr"></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="page" page="calculators" style="display: none;">
      <div class="container">
        <div>
          <div class="nav-menu">
            <div class="page-button" key="calc-page" calc-page="calc-fsa">FSA</div>
            <div class="page-button" key="calc-page" calc-page="calc-coss-worth">COSS Worth</div>
          </div>
          <div class="show-math">
            <div class="button"></div>
            <div class="text">Show Math</div>
          </div>
        </div>
      </div>

      <div class="calc-page" calc-page="calc-fsa" style="display: none;">
        <div class="container">
          <div class="fsa-calculator">
            <table class="inputs">
              <thead></thead>
              <tbody>
                <tr>
                  <td>COSS held</td>
                  <td><input id="fsa-coss-held" type="text"></td>
                </tr>
                <tr>
                  <td>Daily volume ($million)</td>
                  <td><input id="fsa-volume" type="text"></td>
                </tr>
                <tr>
                  <td>Average fee %</td>
                  <td><input id="fsa-fee-percentage" type="text"></td>
                </tr>
                <tr>
                  <td>Average buy price</td>
                  <td><input id="fsa-average-buy-price" type="text" value="optional"></td>
                </tr>
                <tr>
                  <td colspan="2"><div class="submit">Calculate</div></td>
                </tr>
              </tbody>
            </table>
            <table class="outputs-fsa-amount">
              <thead></thead>
              <tbody>
                <tr>
                  <td colspan="3">FSA Amount</td>
                </tr>
                <tr>
                  <td>Weekly</td>
                  <td>Monthly</td>
                  <td>Yearly</td>
                </tr>
                <tr>
                  <td class="fsa-weekly">-----</td>
                  <td class="fsa-monthly">-----</td>
                  <td class="fsa-yearly">-----</td>
                </tr>
              </tbody>
            <table class="outputs-coss-value">
              <thead></thead>
              <tbody>
                <tr>
                  <td>Total COSS Value</td>
                  <td>Calculated ROI%</td>
                </tr>
                <tr>
                  <td class="total-coss-value">-----</td>
                  <td class="calculated-roi">-----</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="calc-page" calc-page="calc-coss-worth" style="display: none;">
        <div class="container">
          <div class="coss-price-calculator">
            <table class="inputs">
              <thead></thead>
              <tbody>
                <tr>
                  <td>Expected yearly ROI%</td>
                  <td><input id="coss-expected-roi" type="text"></td>
                </tr>
                <tr>
                  <td>Daily volume ($million)</td>
                  <td><input id="coss-volume" type="text"></td>
                </tr>
                <tr>
                  <td>Average fee %</td>
                  <td><input id="coss-fee-percentage" type="text"></td>
                </tr>
                <tr><!-- Empty row to match row count with the other table: fsa-calculator --></tr>
                <tr>
                  <td colspan="2"><div class="submit">Calculate</div></td>
                </tr>
              </tbody>
            </table>
            <table class="outputs">
              <thead></thead>
              <tbody>
                <tr>
                  <td>Estimated price</td>
                  <td class="estimated-price"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="page" page="fsa-worth" style="display: none;">
      <div class="container">
        <div class="totals">
          <table>
            <thead></thead>
            <tbody>
              <tr>
                <td>FSA Value</td>
                <td class="fsa-value">$0.00</td>
              </tr>
              <tr>
                <td>Net Value</td>
                <td class="net-value">$0.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="fsa-stats">
          <table>
            <thead>
              <tr>
                <th>Token</th>
                <th>Remaining</th>
                <th>FSA Value</th>
                <th>Fee</th>
                <th>Net Value</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>

        <div class="delete">Clear Data</div>

        <div class="dropzone">
          <div>Drag and drop your Total_Fee_Split_Allocation.csv here</div>
        </div>
      </div>
    </div>

    <div class="page" page="faq" style="display: none;">
      <div class="container">
        <div class="faq">
          <div class="item">Placeholder</div>
          <div class="item">Placeholder</div>
          <div class="item">Placeholder</div>
        </div>
      </div>
    </div>

    <div class="page" page="feedback" style="display: none;">
      <div class="container">
        <div class="feedback">
          <div class="header">Send me feature requests, questions, love mail, hate mail, whatever you want. To curb spamming, each IP address can only send one email per 24-hour period.</div>
          <div class="textarea"><textarea rows="16" cols="70"></textarea></div>
          <div class="submit">Submit</div>
          <div>
            <div class="response"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
