/* Load custom fonts */
@font-face {
  font-family: days-sans;
  src: url(../fonts/days_sans.otf);
}

@font-face {
  font-family: droid-sans;
  src: url(../fonts/droid_sans.ttf);
}

/* Everything */
body {
  display:          block;
  margin:           0;
  font-family: droid-sans;
  background-image: url(../img/noise.png);
}

.container {
  width: 100%;
}

.container > * {
  display: table;
  margin: 0 auto;
}

.container-outer {
  display:     table;
  width:       100%;
  height:      80%;
  font-family: days-sans;
}

.container-inner {
  display:        table-cell;
  vertical-align: middle;
  text-align:     center;
}

.fsa-stats {
}

.fsa-stats table {
  border-collapse: collapse;
  border: 1px solid black;
}

.fsa-stats thead tr {
  background-color: #ff9098;
}

.fsa-stats tbody tr:nth-child(2n+1) {
  background-color: #36c6dc;
}

.fsa-stats tbody tr:nth-child(2n) {
  background-color: #d3d3d3;
}

.fsa-stats thead th:nth-child(1) {width: 120px;}
.fsa-stats thead th:nth-child(2) {width: 100px;}
.fsa-stats thead th:nth-child(3) {width: 100px;}
.fsa-stats thead th:nth-child(4) {width: 100px;}
.fsa-stats thead th:nth-child(5) {width: 160px;}

.fsa-stats tbody td                {padding: 1px 4px;}
.fsa-stats tbody td:nth-child(1)   {width: 120px; height: 20px;}
.fsa-stats tbody td:nth-child(2)   {width: 100px; height: 20px; text-align: center;}
.fsa-stats tbody td:nth-child(3)   {width: 100px; height: 20px; text-align: center;}
.fsa-stats tbody td:nth-child(4)   {width: 100px; height: 20px; text-align: center;}
.fsa-stats tbody td:nth-child(n+5) {width: 160px; height: 20px; text-align: center;}


.dropzone {
  border: 2px dashed #ccc;
  width: 300px;
  height: 200px;
}

.error-404 {
  display:          block;
  width:            100vw;
  height:           100vh;
  margin:           0;
  background-color: #ccc;
}

.val-total,
.val-transferred {
  display: none;
}
